@import './styles/variables';
@import './styles/mixins';

#root {
    min-height: 100vh;
}

.container {
    @include flexbox;
    min-height: 100%;

    .sidebar {
        background-color: aliceblue;
        flex: 0 0 25%;
        height: 500px;
        width: 25%;
    }

    .main-content {
        flex: 1 0 75%;
    }
}